# Node
/node_modules
/npm-debug.log
/yarn-error.log

# Laravel
/vendor
/.phpunit.result.cache
/.phpunit.cache
.phpunit.result.cache

# Environment
.env
.env.backup
.env.production
/auth.json

# Laravel Mix / Webpack
/public/hot
/public/js
/public/css
/mix-manifest.json

# Laravel Storage
/storage/*.key
/storage/pail
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# IDEs and Editors
/.idea
/.vscode
/.fleet
/.zed
/.phpactor.json

# Homestead
Homestead.yaml
Homestead.json

# Laravel Nova (optional)
.nova

# Others
.DS_Store
Thumbs.db
