# Laravel-specific
/vendor
/node_modules

!storage/app/public/public*
!storage/app/public/**



.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Vite build artifacts
/public/build
/resources/js/*.js
/resources/css/*.css

# IDEs and OS-specific
*.sublime-project
*.sublime-workspace
.idea
.vscode
*.swp
*.DS_Store
Thumbs.db

# Composer lock file (optional)
# /composer.lock

# Optional: if you build PDFs, zips, etc.
*.pdf
*.zip
